Flask
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-ai-generativelanguage
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
SQLAlchemy
faiss-cpu
gevent
python-dotenv
gunicorn
requests
urllib3
ipython
